.container {
    position:fixed;
    z-index:1000;
    left:0;
    height: 100vh;
    bottom:0;
    display:block;
    padding: 20px;
    box-sizing:border-box;
}

.content {
    height: 80vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
}

.logo {
    display: flex;
}

.logoText {
    font-family: 'Poppins', sans-serif;
    font-size: 100px;
    line-height: 100px;
    font-weight: 500;
    color: white;
}

.slugText {
    color: white;
    font-size: 50px;
    font-weight: lighter;
    margin-top: -150px;
    margin-left: 50px;
}

.footer {
    height: 20vh;
}

.social {
    position: relative;
    display: flex;
    transform: skew(25deg);
    transform-style: preserve-3d;
}

.social li {
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    margin: 0px 20px;
}

.social li:before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: -5px;
    width: 100%;
    height: 10px;
    background: #2a2a2a;
    transform-origin: top;
    transform: skewX(-41deg);
}

.social li:after {
    content: '';
    position: absolute;
    top: 5px;
    left: -9px;
    width: 9px;
    height: 100%;
    background: #2a2a2a;
    transform-origin: right;
    transform: skewY(-49deg);
}

.social li span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex !important;
    background: #2a2a2a;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 30px !important;
    transition: 1.5s ease-out;
}

.social li:hover span {
    z-index: 1000;
    transition: .6s;
    color: #fff;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, .5);
}

.social li:hover span:nth-child(5) {
    transform: translate(40px, -40px);
    opacity: 1;
}

.social li:hover span:nth-child(4) {
    transform: translate(30px, -30px);
    opacity: .8;
}

.social li:hover span:nth-child(3) {
    transform: translate(20px, -20px);
    opacity: .6;
}

.social li:hover span:nth-child(2) {
    transform: translate(10px, -10px);
    opacity: .4;
}

.social li:hover span:nth-child(1) {
    transform: translate(0px, 0px);
    opacity: .2;
}

.social li:nth-child(1):hover span {
    background: #1DA1F2 !important;
    box-shadow: 0px 5px 12px #1da0f27a;
}

.social li:nth-child(2):hover span {
    background: #2C3456 !important;
    box-shadow: 0px 5px 12px #2c3456c4;
}

.social li:nth-child(3):hover span {
    background: #8a3ab9 !important;
    box-shadow: 0px 5px 12px #8a3ab9b6;
}

.social li:nth-child(4):hover span {
    background: #0e76a8 !important;
    box-shadow: 0px 5px 12px #0e77a8b9;
}

.social li:nth-child(5):hover span {
    background: #c9510c !important;
    box-shadow: 0px 5px 12px #c9510c5d;
}