.container {
    position:fixed;
    z-index:1000;
    left:0;
    height: 100vh;
    bottom:0;
    display:block;
    padding: 20px;
    box-sizing:border-box;
}

.content {
    height: 75vh;
    width: 100vw;
    display: grid;
    grid-gap: 60px;
    grid-template-columns: 1fr;
}

.content h3 {
    font-size: xxx-large;
}

@media (max-width: 720px) {
    .content h3 {
        font-size: xx-large;
    }

    .slugText {
        margin-left: 15px;
    }
}

.slugText {
    color: white;
    font-size: 50px;
    font-weight: lighter;
    margin-top: -100px;
    margin-left: 50px;
}

.footer {
    height: 24vh;
    display: grid;
    grid-gap: 1vh;
    padding-bottom: 5vh;
}

.footer p {
    margin-top: 0;
    text-align: center;
    width: 100vw;
}

.footer p a {
    color: white;
    text-decoration: none;
    font-size: small;
    margin: 0 10px;
}

.footer p a img {
    vertical-align: text-bottom;
}

.social {
    position: relative;
    display: flex;
    transform: skew(25deg);
    transform-style: preserve-3d;
}

.social li {
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    margin: 0px 20px;
}

.social li:before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: -5px;
    width: 100%;
    height: 10px;
    background: #2a2a2a;
    transform-origin: top;
    transform: skewX(-41deg);
}

.social li:after {
    content: '';
    position: absolute;
    top: 5px;
    left: -9px;
    width: 9px;
    height: 100%;
    background: #2a2a2a;
    transform-origin: right;
    transform: skewY(-49deg);
}

.social li span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex !important;
    background: #2a2a2a;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 30px !important;
    transition: 1.5s ease-out;
}

.social li:hover span {
    z-index: 1000;
    transition: .6s;
    color: #fff;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, .5);
}

.social li:hover span:nth-child(5) {
    transform: translate(40px, -40px);
    opacity: 1;
}

.social li:hover span:nth-child(4) {
    transform: translate(30px, -30px);
    opacity: .8;
}

.social li:hover span:nth-child(3) {
    transform: translate(20px, -20px);
    opacity: .6;
}

.social li:hover span:nth-child(2) {
    transform: translate(10px, -10px);
    opacity: .4;
}

.social li:hover span:nth-child(1) {
    transform: translate(0px, 0px);
    opacity: .2;
}

.social li:nth-child(1):hover span {
    background: #516ffa !important;
    box-shadow: 0px 5px 12px #516ffa7a;
}

.social li:nth-child(2):hover span {
    background: #00DC80 !important;
    box-shadow: 0px 5px 12px #00DC80c4;
}

.social li:nth-child(3):hover span {
    background: #fe4350 !important;
    box-shadow: 0px 5px 12px #fe4350b6;
}

.social li:nth-child(4):hover span {
    background: #ebaf76 !important;
    box-shadow: 0px 5px 12px #ebaf76b9;
}

.social li:nth-child(5):hover span {
    background: #1199fa !important;
    box-shadow: 0px 5px 12px #1199fa5d;
}

.social li:nth-child(6):hover span {
    background: #43ad6b !important;
    box-shadow: 0px 5px 12px #43ad6bc4;
}

.social li:nth-child(7):hover span {
    background: #ed6c53 !important;
    box-shadow: 0px 5px 12px #ed6c537a;
}

.social li:nth-child(8):hover span {
    background: #86ccba !important;
    box-shadow: 0px 5px 12px #86ccbab6;
}

.social li:nth-child(9):hover span {
    background: #3552F6 !important;
    box-shadow: 0px 5px 12px #3552F6b9;
}

.social li:nth-child(10):hover span {
    background: #007bb5 !important;
    box-shadow: 0px 5px 12px #007bb55d;
}

.social li:nth-child(11):hover span {
    background: #0492dc !important;
    box-shadow: 0px 5px 12px #0492dc7a;
}

.social li:nth-child(12):hover span {
    background: #3756fc !important;
    box-shadow: 0px 5px 12px #3756fcc4;
}

.social li:nth-child(13):hover span {
    background: #3e68f9 !important;
    box-shadow: 0px 5px 12px #3e68f9b6;
}

.social li:nth-child(14):hover span {
    background: #DA3A14 !important;
    box-shadow: 0px 5px 12px #DA3A14b9;
}

.social li:nth-child(15):hover span {
    background: #4f79ec !important;
    box-shadow: 0px 5px 12px #4f79ec5d;
}

.social li:nth-child(16):hover span {
    background: #e1aa4c !important;
    box-shadow: 0px 5px 12px #e1aa4c5d;
}

.social li:nth-child(17):hover span {
    background: #00b1ff !important;
    box-shadow: 0px 5px 12px #00b1ff5d;
}